{% extends "base.html" %}
{% block title %}member_profile{% endblock%}

{% block content %}
<p><strong>Name: </strong>{{ member.name }}</p>
<p><strong>Sex: </strong>{{ member.sex }}</p>
<p><strong>Entrance Day: </strong>{{ member.enter_school }}</p>
<p><strong>Height: </strong>{{ member.height }}</p>
<p><strong>Weight: </strong>{{ member.weight }}</p>
<p><strong>ID: </strong>{{ member.ID }}</p>
<p><strong>Job: </strong>{{ member.job }}</p>
<p><strong>Training Level: </strong>{{ member.training_level }}</p>
{% endblock %}
